/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.name-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexible-content{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.tamim-img{
    width: 80%;
    
}
.hireme-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.experience-area{
    display: flex;
}
h2{
    font-size: 35px;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin:0 5%;
    padding-left:40px;
    height: 400px;

}
.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 120px;
}
#full-stack{
    border-left: 7px solid ;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}

#web-dev{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}